
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", monospace;
    
}
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(34deg, rgba(200,228,255,1) 4%, rgba(126,135,245,1) 35%, rgba(49,102,241,1) 60%, rgba(18,58,161,1) 91%);    min-height: 100vh;
  font-family: "Poppins",monospace;
}
.main_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    box-shadow: 6px 5px 13px 0px rgba(18,16,77,0.79);
    -webkit-box-shadow: 6px 5px 13px 0px rgba(18,16,77,0.79);
    -moz-box-shadow: 6px 5px 13px 0px rgba(18,16,77,0.79);
}
label{
    font-family: "Poppins",monospace;
    font-size: 25px;
    color: rgb(245, 227, 227);
    
   
}
input[type="radio"]{
    background-color: blue;
}
.radio{
    display: flex;
    flex-direction: column;
}

#avatar{
    width: 240px;
    border-radius: 15px;
    height: 240px;
    /* padding-top: 5rem; */
    /* margin: auto; */
    
}
.prev_next{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
#prev, #next{
    padding: 1rem;
    border: none;
    background-color: transparent;
    font-size: 25px;
    color: rgb(61, 52, 184);
    font-weight: 900;
    cursor: pointer;
}

.hidden{
    display: none;
}
th, td {
    margin-bottom: 5rem;
    border-radius: 2px;
    background-color: aqua;
        padding: 10px;
        text-align: center;
      }

table{
    row-gap: 1rem;
    column-gap: 1rem;
  margin: auto;
}

.res{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    color: wheat;
}
img{
    margin: auto;
    display: flex;
    /* justify-content: center; */
}
th{
    background-color: rgb(113, 113, 248);
    color: rgb(223, 205, 173);
}

#avatar_all{
    width: 150px;
    height: 170 px;
border-radius: 15px;
}

